.body {
  background-color: black;
}

.Photo {
  padding: 20px;
  height: 100%;
  width: 100%;
}

.heading {
  text-align: center;
  color: white;
}

.video {
  text-align:center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.videoComp {
  height: 60%;
  width: 70%;
}